<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="js/vue@2.js"></script>
    <link href="fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link href="bootstrap/icons-1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="bootstrap/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <style>
        p{
            color: #000;
        }
        @media (min-width: 992px){
            .smallLeftCard-lg {
                max-width: 335px;
            }
        }
        @media (min-width: 768px){
            .smallLeftCard-md{
                max-width: 1440px;
            }
        }
        .bg-grey{
            background-color: #e5e5e5;
        }
        .border-y{
            border-top: lightgray 1px solid;
            border-bottom: lightgray 1px solid
        }
        img{
            width: -webkit-fill-available;
        }
    </style><!DOCTYPE html>

<body>
<div class="position-relative bg-white">
    <!-- 副导航 开始 -->
    <div id="mainSecondaryNavigation" class="bg-grey d-none d-lg-block">
        <div class="d-flex mx-5 align-content-center">
            <ul class="nav me-auto col-8 justify-content-start my-auto">
                <li v-for="item in items">
                    <a :href=item.object.link class="nav-link px-3 text-grey small hover-blue">{{item.object.name}}</a>
                </li>
            </ul>
            <div class="rounded-pill bg-white py-1 px-2 align-content-between my-2">
                    <span class="nav-item dropdown">
                        <a class="dropdown-toggle text-grey fs-6" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Chinese</a>
                        <div class="col-1 d-md-flex d-lg-none">
                            <button class="navbar-toggler d-none d-md-flex d-lg-none" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Chinese</a></li>
                        </ul>
                    </span>
            </div>
        </div>
    </div>
    <!-- 副导航 结束 -->

    <!-- 主导航 开始 -->
    <div id="mainNavigation" class="navbar navbar-expand-xl py-0">
        <div class="container-fluid px-lg-3 pe-md-0 mx-lg-5 mx-0 align-items-center d-flex py-lg-3 py-md-0">
            <div class="col-lg-3 col-9 border-end pb-10vh-lg">
                <a class="navbar-brand my-auto me-auto " href="index.html">
                    <img src="img/dark-logo.svg" alt="" class="navbar-brand-item navbar-brand-img w-auto">
                </a>
            </div>
            <div class="col-3 d-md-flex d-lg-none bg-blue">
                <button class="navbar-toggler d-none d-md-flex d-lg-none w-100 h-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <i class="bi bi-list text-white w-100 display-1 py-2" ></i>
                </button>
            </div>

            <div class="col-lg-9 d-none d-lg-flex pb-10vh-lg">
                <ul class="navbar-nav me-auto row gx-0 justify-content-start w-auto ">
                    <li class="nav-item col-auto" v-for="item in items">

                        <a :href=item.object.link class="nav-link- ps-3 text-dark mx-3 hover-blue">{{item.object.name}}</a>
                    </li>
                </ul>
            </div>
            <!--            移动端的菜单-->
            <div class="offcanvas offcanvas-top navbar-toggler" tabindex="-1" id="offcanvasTop"
                 aria-labelledby="offcanvasTopLabel" style="height: max-content">
                <div class="offcanvas-header">
                    <p id="offcanvasTopLabel" class="fs-1 text-center text-dark col mb-0">导航栏</p>
                    <button type="button" class="btn-close text-reset fs-1" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0">
                    <div class="d-none d-md-flex d-lg-none row bg-white ">
                        <div v-for="item1 in items" :class="[item1.object.index!=6 ?'col-6 border px-3 py-3':'col-12 border px-3 py-3']">
                            <a :href="item1.object.link" class="nav-link text-dark fs-2 text-center">{{item1.object.name}}</a>
                        </div>
                    </div>
                    <div id="AppSecondaryNavigation" class="col border px-3 py-3 bg-light row g-0">
                        <span v-for="item1 in items" class="col-4">
                            <a :href="item1.object.link" class="nav-link text-dark desc text-center ">{{item1.object.name}}</a>
                        </span>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- hero -->
<div id="hero" class="col-lg-9 px-lg-5 mx-auto row gx-3 mb-5 mt-lg-0 ">
    <div class="col-lg-8 mb-4 mb-lg-0 px-0 px-lg-1">
        <a href="page/news_detail/news_detail.html">
            <img class="rounded-4" src="https://stillmed.olympics.com/media/Images/Olympic-Games/Beijing-2022/Playbooks/v2/playbook-v2-ao-banner.jpg?im=Resize=(927,525),aspect=fill;Crop,size=(927,525),gravity=Center" width="100%" alt=""/>
        </a>
    </div>
    <div class="col-lg-4 px-5 px-lg-1">
        <a href="page/news_detail/news_detail.html">
            <p class="display-5 limit-3 ">我校获省人社厅授牌  “广东人社‘技能+’融媒体工作室”</p>
            <p class="text-dark ad_desc">11月17日，由广东省人力资源和社会保障厅主办、广东省职业培训和技工教育协会协办的百年初心看湾区-“技能+”新媒体创意大赛颁奖典礼，在粤港澳大湾区（广东）创新创业孵化基地落下帷幕。学校获得多项大奖！</p>
            <a href="page/news_detail/news_detail.html">
                <div class="mt-5 rounded-pill py-2 px-3 d-flex justify-content-between align-items-center hover-bg-blue d-lg-flex d-none" style="background-color: #f7f7f7;width: max-content;">
                    <span class="m-0 col-auto" style="font-size:14px;">了解更多信息</span>
                    <img src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                </div>
            </a>
            <div class="rounded-pill mt-4 py-4 px-4 d-flex justify-content-between align-items-center hover-bg-blue d-flex d-lg-none" style="background-color: #f7f7f7;width: max-content;">
                <span class="m-0 col-auto desc m-0">了解更多信息</span>
                <img src="img/arrow-right-rounded-white.svg" alt="" class="ms-3" style="width: 75px;">
            </div>

        </a>
    </div>
</div>
<!-- hero end -->

<!--新闻板块 start-->
<section class="col-lg-9 px-5 mx-auto gx-3">
    <a href="page/news.html">
        <div class="row align-items-center mb-3">
            <span class="col-auto fs-4 text-dark">新闻</span>
            <span class="text-blue col-auto desc m-0">所有新闻</span>
        </div>
    </a>

    <div class="position-relative"  style="overflow: hidden" >
        <div id="carouselList" class="row gx-3" style="overflow: hidden;flex-wrap: nowrap">
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="img/activity/4.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text " style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="https://stillmed.olympics.com/media/Images/News/2021/14/2021-12-14-Paris2024Ceremony-thumbnail.jpg?im=Resize=(335,189),aspect=fill;Crop,size=(335,189),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="https://stillmed.olympics.com/media/Images/News/2021/12/10/2021-12-10-rever-thumbnail.jpg?im=Resize=(335,189),aspect=fill;Crop,size=(335,189),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="https://stillmed.olympics.com/media/Images/News/2021/12/09/2021-12-09-LA-thumbnail.jpg?im=Resize=(335,189),aspect=fill;Crop,size=(335,189),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="img/activity/4.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="img/activity/4.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="img/activity/4.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
            <div class="newItem">
                <div class="card p-0 border-0">
                    <a href="page/news_detail/news_detail.html" class="hover-child-blue">
                        <img src="img/activity/4.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3 w-100" style="object-fit: cover" >
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                            <p class="newsTitle col-auto rounded-3 py-2 px-3 my-0 " style="color: #212529;background-color: #f7f7f7">可持续发展1</p>
                            <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-end text-muted mb-0 ">2021年 11月 05日</p></div>
                        </div>
                        <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>

                    </a>

                </div>
            </div>
        </div>

        <div class="position-absolute" style="top: calc(50% - 48px);left: 0;width: 100%;">
            <div class="d-flex justify-content-evenly">
                <div class="col-auto me-auto">
                    <img id="prev" src="img/arrow-left-rounded-white-48x48.svg"  alt="" class="ms-3 carouselBtn" >
                </div>
                <div class="col-auto">
                    <img id="next" src="img/arrow-right-rounded-white-48x48.svg" alt="" class="me-3 carouselBtn">
                </div>
            </div>
        </div>
    </div>
</section>
<!--新闻板块 end-->

<!-- 活动板块 start -->
<div class="row col-lg-9 px-5 mx-auto gy-5 my-5">
    <div class="col-lg-7">
        <a href="page/activity_detail/activity_detail.html">
            <p class="display-4  d-flex d-lg-none mb-4">关于2021技能节</p>
            <img src="https://stillmed.olympics.com/media/Images/OlympicOrg/IOC/What_We_Do/Promote_Olympism/CTA/Olympic_Truce_cta.jpg?im=Resize=(690,388),aspect=fill;Crop,size=(690,388),gravity=Center" alt="" width="100%" class="rounded">
        </a>
    </div>
    <div class="col-lg-5 border-top-lg d-flex flex-column justify-content-between d-lg-flex d-none">
        <div class="d-flex justify-content-between align-items-center col-12 mt-1">
            <a href="page/activity_detail/activity_detail.html">
                <p class="fs-1 m-0 text-dark d-none d-lg-flex">关于2021技能节</p>
            </a>
            <a href="page/activity_detail/activity_detail.html">
                <div class="rounded-pill py-2 px-3 d-flex justify-content-between align-items-center hover-bg-blue" style="background-color: #f7f7f7;width: max-content;">
                    <span class="m-0 col-auto" style="font-size:14px;">了解更多信息</span>
                    <img src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                </div>
            </a>

        </div>
        <a href="page/activity_detail/activity_detail.html" class="desc limit-5">获取有关即将到来的2022年北京冬季奥运会的所有信息，带有COVID-19对策的剧本，有关奥运会的主要事实以及您想知道的一切。有关奥运会的主要事实以及您想知道的一切。获取有关即将到来的2022年北京冬季奥运会的所有信息，带有COVID-19对策的剧本，有关奥运会的主要事实以及您想知道的一切。有关奥运会的主要事实以及您想知道的一切。</a>
    </div>
    <div class="d-flex d-lg-none mt-3">
        <a href="page/activity_detail/activity_detail.html">
            <p class="desc">获取有关即将到来的2022年北京冬季奥运会的所有信息，带有COVID-19对策的剧本，有关奥运会的主要事实以及您想知道的一切。有关奥运会的主要事实以及您想知道的一切。</p>

            <div class="rounded-pill mt-4 py-4 px-4 d-flex justify-content-between align-items-center hover-bg-blue" style="background-color: #f7f7f7;width: max-content;">
                <span class="m-0 col-auto desc m-0">了解更多信息</span>
                <img style="width: 75px;" src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
            </div>


        </a>
    </div>
</div>


<div class="col-lg-9 px-5 my-5 row mx-auto gy-4 gx-3 py-5 ">
    <a href="page/activity.html"><p class="m-0 display-5 p-0">近期活动</p></a>
    <div class="col-lg-12 mb-3 p-0">
        <a href="page/activity_detail/activity_detail.html">
            <div class="card p-0 border-0 ">
                <img src="https://stillmed.olympics.com/media/Images/News/2021/11/03/2021-11-03-cop26-thumbnial.jpg?im=Resize=(1400,790),aspect=fill;Crop,size=(1400,790),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                    <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                    <div class="col rounded-3 py-2 px-3"><p class="newsTitle text-center text-muted mb-0">2021年 11月 05日</p></div>
                </div>
                <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">"我们在改善环境方面有着共同的雄心壮志"：宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>
            </div>
        </a>

    </div>
    <div class="row p-0 gx-3 gy-4 align-items-start">
        <div class="col-lg-4 ">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/11/05/2021-11-05-pg-thumbnail.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">"我们在改善环境方面有着共同的雄心壮志"：宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 ">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/11/01/2021-11-01-climate-thumbnail-02.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle " style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">奥运选手和残奥会运动员呼吁世界各国领导人携手应对气候变化</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 pe-0">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/10/24/2021-10-24-pr-thumbnail.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">国际奥委会在气候变化方面处于领先地位 - 承诺到2030年将其温室气体排放量减少50%</p>
                </div>
            </a>

        </div>
        <div class="col-lg-4 ">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/11/05/2021-11-05-pg-thumbnail.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">"我们在改善环境方面有着共同的雄心壮志"：宝洁的普里查德谈到了奥林匹克伙伴关系的可持续影响</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 ">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/11/01/2021-11-01-climate-thumbnail-02.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">奥运选手和残奥会运动员呼吁世界各国领导人携手应对气候变化</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 pe-0">
            <a href="page/activity_detail/activity_detail.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/News/2021/10/24/2021-10-24-pr-thumbnail.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 7px">
                        <p class="col-auto rounded-3 py-2 px-3 mb-0 newsTitle" style="color: #212529;background-color: #f7f7f7">可持续发展</p>
                        <div class="col rounded-3 py-2 px-3"><p class="text-center newsTitle text-muted mb-0">2021年 11月 05日</p></div>
                    </div>
                    <p class="label text-dark mb-0 hover-blue news-text" style="margin-top: 8px">国际奥委会在气候变化方面处于领先地位 - 承诺到2030年将其温室气体排放量减少50%</p>
                </div>
            </a>

        </div>
    </div>

</div>
<!-- 活动板块 end -->

<!--    关于深技师-->
<div class="col-lg-9 px-5 mx-auto my-5">
    <p class="display-5" >关于深技师</p>
    <div class="mx-auto row gx-3">
        <div class="smallLeftCard-lg mb-md-5 mb-0">
            <a href="page/regulations.html">
                <div class="card p-0 border-0" >
                    <img src="https://stillmed.olympics.com/media/Images/OlympicOrg/IOC/What_We_Do/Celebrate_The_Olympic_Games/CTA/From_Candidate_To_Host_City_cta.jpg" alt="" width="100%" class="card-img-top rounded-3" >
                    <p class="subtitle text-dark my-lg-2 my-4">规章制度</p>
                    <p class="desc limit-4">国际奥委会是世界体育的核心，支持每一个奥林匹克运动的利益相关者，在全球范围内推广奥林匹克主义，并监督奥运会的定期庆祝活动。国际奥委会还致力于在社会中促进体育运动，加强体育运动的完整性，并支持清洁运动员和其他体育组织。</p>
                    <a href="page/regulations.html">
                        <div class="rounded-pill py-2 px-3 justify-content-between align-items-center hover-bg-blue d-none d-lg-flex" style="background-color: #f7f7f7;width: max-content;">
                            <span class="m-0 col-auto" style="font-size:14px;">了解更多信息</span>
                            <img src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                        </div>
                        <div class="d-flex d-lg-none mt-3">

                            <div class="rounded-pill mt-4 py-4 px-4 d-flex justify-content-between align-items-center hover-bg-blue" style="background-color: #f7f7f7;width: max-content;">
                                <span class="m-0 col-auto desc m-0">了解更多信息</span>
                                <img style="width: 75px;" src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                            </div>

                        </div>
                    </a>

                </div>
            </a>
        </div>
        <div class="col-lg">
            <a href="page/regulations.html">
                <div class="card p-0 border-0" >
                    <img src="https://stillmed.olympics.com/media/Images/B2B/IOC/CTA/organisation-cta.jpg" alt="" width="100%" class="card-img-top rounded-3" >
                    <div class="col-lg-5">
                        <p class="subtitle text-dark my-lg-2 my-4">学校简介</p>
                        <p class="desc limit-4">深圳技师学院是深圳市政府全额投资兴办的全日制高等技工院校，是深圳市人力资源和社会保障局直属的一所培养应用型、复合型、创新型知识技能人才的国家级重点技工院校，广东省首批5所技师学院、10所高水平技师学院创建单位、首批3所纳入高等学校序列试点技师学院之一。</p>
                        <a href="page/regulations.html">
                            <div class="rounded-pill py-2 px-3 justify-content-between align-items-center hover-bg-blue d-none d-lg-flex" style="background-color: #f7f7f7;width: max-content;">
                                <span class="m-0 col-auto" style="font-size:14px;">了解更多信息</span>
                                <img src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                            </div>
                            <div class="d-flex d-lg-none mt-3">

                                <div class="rounded-pill mt-4 py-4 px-4 d-flex justify-content-between align-items-center hover-bg-blue" style="background-color: #f7f7f7;width: max-content;">
                                    <span class="m-0 col-auto desc m-0">了解更多信息</span>
                                    <img style="width: 75px;" src="img/arrow-right-rounded-white.svg" alt="" class="ms-3">
                                </div>

                            </div>
                        </a>

                    </div>

                </div>
            </a>

        </div>
    </div>
</div>
<!--    关于深技师-->

<!--    content-->
<section class="my-5 ">
    <div class="row col-lg-9 px-5 mx-auto gy-5">
        <div class="col-lg-4 ">
            <a href="page/research.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/B2B/Beyond-The-Games/CTA/OSC-main-CTA.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <a href="page/news_detail/news_detail.html">
                        <p class="subtitle text-dark  hover-blue news-text my-lg-2 my-4" >研究</p>
                        <p class="desc hover-blue">作为奥林匹克知识的参考中心，奥林匹克研究中心旨在促进和支持以大学为基础的奥林匹克教育，教学和研究。
                        </p>
                    </a>
                </div>
            </a>
        </div>
        <div class="col-lg-4 ">
            <a href="page/studyPlan.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/Beyond-the-Games/Education/YOG-Education-Programme/yog-programme-cta.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <a href="page/news_detail/news_detail.html">
                        <p class="subtitle text-dark  hover-blue news-text my-lg-2 my-4">学习计划</p>
                        <p class="desc hover-blue">作为奥林匹克知识的参考中心，奥林匹克研究中心旨在促进和支持以大学为基础的奥林匹克教育，教学和研究。
                        </p>
                    </a>
                </div>
            </a>

        </div>
        <div class="col-lg-4 ">
            <a href="page/employment.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/B2B/Home/Boxes/Olympic-Legacy-BOX.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <a href="page/news_detail/news_detail.html">
                        <p class="subtitle text-dark  hover-blue news-text my-lg-2 my-4">就业与实习</p>
                        <p class="desc hover-blue">作为奥林匹克知识的参考中心，奥林匹克研究中心旨在促进和支持以大学为基础的奥林匹克教育，教学和研究。
                        </p>
                    </a>
                </div>
            </a>

        </div>
        <div class="col-lg-4 ">
            <a href="page/admission.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/Beyond-the-Games/CTA/refugee-team-big-CTA.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <a href="page/news_detail/news_detail.html">
                        <p class="subtitle text-dark  hover-blue news-text my-lg-2 my-4">入学</p>
                        <p class="desc hover-blue">作为奥林匹克知识的参考中心，奥林匹克研究中心旨在促进和支持以大学为基础的奥林匹克教育，教学和研究。
                        </p>
                    </a>
                </div>
            </a>

        </div>
        <div class="col-lg-4 ">
            <a href="page/cooperate.html">
                <div class="card p-0 border-0">
                    <img src="https://stillmed.olympics.com/media/Images/B2B/Home/Boxes/TOP-box-02.jpg?im=Resize=(453,255),aspect=fill;Crop,size=(453,255),gravity=Center" alt="" class="rounded-3" style="object-fit: cover" >
                    <a href="page/news_detail/news_detail.html">
                        <p class="subtitle text-dark  hover-blue news-text my-lg-2 my-4">合作伙伴</p>
                        <p class="desc hover-blue">作为奥林匹克知识的参考中心，奥林匹克研究中心旨在促进和支持以大学为基础的奥林匹克教育，教学和研究。
                        </p>
                    </a>
                </div>
            </a>

        </div>

    </div>
</section>
<!--    content-->

<img src="https://stillmed.olympics.com/media/Images/B2B/Global/house-banner-footer-5.jpg" alt="" width="100%" height="500px" style="object-fit: cover;margin-top: 100px">


<!--    页脚-->
<footer class="small lighten-3 pt-4" style="background-color: black">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <img class="mx-auto my-auto" src="img/light-logo.png" width="75%"/>


            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Links -->
                <h5 class="fw-bold text-uppercase mb-4 text-white">关于</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#" class="text-muted">网站地图</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#" class="text-muted">入学申请</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#" class="text-muted">研究</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#" class="text-muted">赞助合作</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="fw-bold text-uppercase mb-4 text-white">联系方式</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="text-muted">
                            <i class="bi bi-house-fill mr-3 text-muted"></i> 广东省深圳市龙岗区五联社区将军帽路1号 </p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="bi bi-telephone-fill mr-3 text-muted"></i> 教务处：83706715</p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="bi-telephone-fill mr-3 text-muted "></i> 招生就业处：0755-83757355</p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="bi bi-printer-fill mr-3 text-muted"></i> 0755-83757324　</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="fw-bold text-uppercase mb-4 text-white">关注我们</h5>

                <!-- QQ -->
                <a type="button" class="rounded-circle mx-2">
                    <i class="fab fa-qq fs-3 text-muted"></i>
                </a>
                <!-- Wechat -->
                <a type="button" class="rounded-circle mx-2">
                    <i class="fab fa-weixin fs-3 text-muted"></i>
                </a>
                <!-- Weibo -->
                <a type="button" class="rounded-circle mx-2">
                    <i class="fab fa-weibo fs-3 text-muted"></i>
                </a>
                <!-- Google -->
                <a type="button" class="rounded-circle mx-2">
                    <i class="fab fa-zhihu fs-3 text-muted"></i>
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="text-center py-3 text-white" style="background-color: black">© copyright:
        <a href="https://mdbootstrap.com/" class="text-white">深圳技师学院</a>
    </div>
    <!-- Copyright -->

</footer>

<script src="js/carousel.js"></script>
<script src="js/indexNavbar.js"></script>
<script src="bootstrap/bootstrap@5.0.2.js"  crossorigin="anonymous"></script>
</body>

</html>
